.benifits {
    background-color: #ededed;
    .inner {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        .title {
            padding: 50px 0;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        .accordion {
            width: 60%;
            margin: auto;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 90%;
            .title {
                width: 100%;
                font-size: 16px;
                padding: 10px;
                background-color: var(--primary-color);
                color: white;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }
            .title.negative {
                color: black;
                background-color: white;
            }
            .content {
                padding: 20px;
                p {
                    font-size: 14px;
                    line-height: 1.8;
                }
            }
        }
    }
}
