.methLanding {
    background-color: #ededed;
    height: 500px;
    width: 100%;
    overflow-y: hidden;
    margin-bottom: 50px;
    /* filter: grayscale(100%) drop-shadow(0 0 30px black); */
    .image {
        position: absolute;
        background-image: url(/image/incubation.jpg);
        height: 500px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.1;
        z-index: 0;
    }
    .inner {
        padding: 0 20px;
        position: relative;
        z-index: 1;
        max-width: 1200px;
        margin: auto;
        height: 100%;
        .title {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 50px;
            height: 100%;
            h1 {
                color: var(--primary-color);
            }
            h2 {
                color: black;
            }
        }
    }
}

@media (max-width: 990px) {
    .methLanding {
        .inner {
            .title {
                h1 {
                    font-size: 25px;
                }
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}
