.supportcontent {
    .inner {
        max-width: 1000px;
        margin: auto;
        padding-bottom: 70px;
        .box {
            padding: 20px;
            .left {
                padding: 10px;
                color: white;
                background-color: var(--primary-color);
                font-weight: 600;
            }
            .right {
                padding: 10px;
                line-height: 2;
            }
        }
    }
}
