.contact {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 60;
    transform: translateX(350px);
    background-color: white;
    transition: 0.5s;
    color: black;
    .outer {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -50px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        background-color: var(--primary-color);
        color: white;
        writing-mode: vertical-lr;
        font-size: 12px;
        font-weight: 600;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .inner {
        position: relative;
        .title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        height: 400px;
        width: 350px;
        padding: 20px;
        .same {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            height: 50px;
            width: 100%;
            padding: 0 20px;
            background-color: white;
            border: 0.5px solid #383838;
            input {
                background-color: white;
                height: 30px;
                width: 90%;
                outline: none;
                border: none;
                color: black;
            }
        }
        .error {
            font-size: 10px;
            font-weight: 500;
            color: red;
        }
        .textarea {
            background-color: white;
            margin-top: 20px;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            border: 0.5px solid #383838;
            textarea {
                background-color: white;
                overflow-y: scroll;
                width: 100%;
                height: 90%;
                border: none;
                padding: 3px;
                color: black;
            }
            textarea:focus-visible {
                outline: none;
            }
        }
        button {
            margin-top: 20px;
            padding: 8px 20px;
            border-radius: 30px;
            color: white;
            background-color: var(--primary-color);
            border: none;
        }
    }
}
.contact.active {
    transform: translateX(0);
}
